          <div class="row">
            <div class="row">
              <div class="col-md-12">
                <h3 class="sub-header">Results</h3>
              </div>
              <div class="row" ng-controller="ResultsCtrl">
                <div class="col-md-4">
                  <h4 class="sub-header">Yearly</h4>
                  <canvas id="yearly" class="chart chart-bar"
                    chart-data="yearly_data" chart-labels="yearly_labels">
                  </canvas>
                </div>
                <div class="col-md-4">
                  <h4 class="sub-header">Quarterly</h4>
                  <canvas id="quarterly" class="chart chart-bar"
                    chart-data="quarterly_data" chart-labels="quarterly_labels">
                  </canvas>
                </div>
                <div class="col-md-4">
                  <h4 class="sub-header">Monthly</h4>
                  <canvas id="monthly" class="chart chart-bar"
                    chart-data="monthly_data" chart-labels="monthly_labels">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row"
                class="check-section"
                ng-controller="InvoiceListCtrl"
                id="Summary">
            <div
              class="col-md-6">
              <h3 class="sub-header">Invoices</h3>
              <table class="table table-hover table-condensed">
                <thead>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Place</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="i in invoices" ng-class="">
                    <td>{{i.iid}}</td>
                    <td>{{i.customer.name}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.place}}</td>
                    <td>
                      <div class="button btn-group">
                        <a role="button" class="btn btn-info btn-xs" ng-model="invoice" ng-click="loadInvoice('{{i.iid}}')">edit</a>
                        <a role="button" class="btn btn-info btn-xs" href="/invoices/{{i.iid}}/download">print</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <form class="form" role="form" ng-hide="newItemIsCollapsed"
              ng-submit="invoices.add(parseInvoiceForm())"
              ng-model="invoice"
              novalidate>
              <div class="col-md-6">
                <h3 class="sub-header" ng-if="invoice">
                  Invoice IV{{invoice.iid}}
                  <div class="btn-group btn">
                    <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    <button type="submit" ng-click="form_reset()" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                  </div>
                </h3>
                <h3 class="sub-header" ng-if="!invoice">
                  New Invoice
                  <div class="btn-group btn">
                    <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                    <button type="submit" disabled class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                  </div>
                </h3>
                  <div class="form-group">
                    <div class="form-group">
                      <label class="sr-only" for="invoiceDate">Date</label>
                      <div class="input-group">
                        <input type="text"
                              class="form-control"
                              id="invoiceDate"
                              ng-model="invoice.date"
                              placeholder="Date"
                              required>
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                      <label class="sr-only" for="invoicePlace">Place</label>
                      <input type="text"
                            class="form-control"
                            id="invoicePlace"
                            ng-model="invoice.place"
                            placeholder="Place"
                            required>
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-globe"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="invoiceSubject">Subject</label>
                      <input type="text"
                            class="form-control"
                            id="invoiceSubject"
                            ng-model="invoice.subject"
                            placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="invoiceDescription">Description</label>
                      <input type="text"
                            class="form-control"
                            id="invoiceDescription"
                            ng-model="invoice.desc"
                            placeholder="Description"
                            required>
                    </div>

                    <h4 class="sub-sub-header">Customer</h4>
                    <div class="form-group">
                      <div class="input-group">
                      <label class="sr-only" for="invoiceDescription">Customer Name</label>
                      <input type="text"
                            class="form-control"
                            id="invoiceDescription"
                            ng-model="invoice.customer.name"
                            placeholder="Customer Name"
                            required>
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-user"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <label class="sr-only" for="invoiceDescription">Customer Address 1</label>
                        <input type="text"
                              class="form-control"
                              id="invoiceDescription"
                              ng-model="invoice.customer.address[0]"
                              placeholder="Customer Address 1"
                              required>
                        <input type="text"
                              class="form-control"
                              id="invoiceDescription"
                              ng-model="invoice.customer.address[1]"
                              placeholder="Customer Address 2"
                              required>
                        <input type="text"
                              class="form-control"
                              id="invoiceDescription"
                              ng-model="invoice.customer.address[2]"
                              placeholder="Customer Address 3"
                              required>
                        <input type="text"
                              class="form-control"
                              id="invoiceDescription"
                              ng-model="invoice.customer.address[3]"
                              placeholder="Customer Address 4"
                              required>
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-road"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="invoiceStatus">Status</label>
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Quote</button>
                        <button type="button" class="btn btn-default">Invoice</button>
                        <button type="button" class="btn btn-default active">Paid</button>
                      </div>
                    </div>

                    <h4 class="sub-sub-header">Products
                      <div class="btn-group btn">
                        <button type="submit" ng-click="add_product()" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="submit" class="btn btn-default" disabled>
                          <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                      </div>
                    </h4>
                    <div class="form-group" ng-model="invoice.products" ng-repeat="product in invoice.products" >
                      <label class="sr-only" for="invoiceDescription">Product</label>
                      <div class="input-group">
                        <div class="input-group">
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-euro"></span>
                          </div>
                          <input type="text"
                                class="form-control"
                                id="invoiceDescription"
                                ng-model="product.price"
                                placeholder="Product price"
                                required>
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-remove"></span>
                          </div>
                          <input type="text"
                                class="form-control"
                                id="invoiceDescription"
                                ng-model="product.qty"
                                placeholder="Product quantity"
                                required>
                          <!-- TODO change to a real value computed at validation time -->
                            <div class="input-group-addon">
                              <span class="glyphicon">=</span>
                            </div>
                          <input type="text"
                                class="form-control"
                                id="invoiceDescription"
                                ng-model="product.qty*product.price"
                                placeholder="Product total"
                                disabled
                                required>
                        </div>
                        <input type="text"
                              class="form-control"
                              id="invoiceDescription"
                              ng-model="product.descr"
                              placeholder="Product description"
                              required>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>

