body {
  margin-top: 80px;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.cs-navbar {
  background-color: #3FB8AF;
  color: white;
}

.cs-navbar .navbar-brand {
  color: white;
}

.cs-header {
  padding: 30px;
}

.cs-center {
  margin: auto;
  text-align: center;
}

.cs-padded {
  padding: 20px 0px 20px 0px;
}

// ----------------------------- //

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 500px) {
  footer {
    margin-left: 20px;
  }
  .sidebar {
    position: fixed;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
  .sidebar-lhs {
    top: 51px;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
  }
  .sidebar-rhs {
    top: 51px;
    bottom: 0;
    right: 0;
    background-color: #e0eaf5;
    box-shadow: -5px 0px 10px 10px #e0eaf5;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar-lhs {
}
.nav-sidebar-rhs {
}
.nav-sidebar-rhs > .active > a {
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.has-error {
  color: #f00;
}
.has-success {
  color: #0f0;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

// sortable

.ui-sortable > tr:active  {
  cursor: grabbing !important;
  background-color: #f00;
}

.ui-sortable > tr:checked  {
  cursor: grabbing !important;
  background-color: #0f0;
}

.ui-sortable > tr {
  cursor: all-scroll;
}

